Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

working on it
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
Due: pipelines/azure-pipelines.yml

More
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Signing standalone exes in release pipeline
  pipelines/azure-pipelines.release.yml
Due: none

Just one *
  pipelines/azure-pipelines.release.yml
Due: none

UseMinimatch: true
  pipelines/azure-pipelines.release.yml
Due: none

Two **
  pipelines/azure-pipelines.release.yml
Due: none

Signing standalone exes in release pipeline (#83)
  pipelines/azure-pipelines.release.yml
Due: none

Adding ** to msixbundle
  pipelines/azure-pipelines.release.yml
Due: none

Removing comma
  pipelines/azure-pipelines.release.yml
Due: none

Fixing msixbundle signing (#85)
  pipelines/azure-pipelines.release.yml
Due: none

Testing out fix
  README.md
  pipelines/azure-pipelines.release.yml
Due: none

Fixing OWC submission syntax in release pipeline
  README.md
  pipelines/azure-pipelines.release.yml
Due: none

Add settings command and TelemetryEventListener
  schemas/settings.schema.0.1.json
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCore/Models/SettingsModel.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Fixing OWC submission syntax in release pipeline and documentation (#88)
  README.md
  pipelines/azure-pipelines.release.yml
Due: none

setup settings command
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
Due: pipelines/azure-pipelines.yml

Refactor UserSettings class
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Removing BOM prefix from manifest content
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

add welcome message
  src/WingetCreateCLI/Common.cs
Due: pipelines/azure-pipelines.yml

More
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Removing BOM prefix from manifest content (#91)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

finish settings command
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Models/SettingsModel.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add settings command documentation
  README.md
  doc/settings.md
  schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

add unit tests for settings command
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

clean up
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Fix telemetry disable logic
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
Due: pipelines/azure-pipelines.yml

make eventsourcename accessible
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Telemetry/TelemetryManager.cs
Due: pipelines/azure-pipelines.yml

fix bugs and modify schema to add schema header
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add Telemetry Opt-Out and Settings Command (#94)
  README.md
  doc/settings.md
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/Telemetry/TelemetryEventListener.cs
  src/WingetCreateCLI/Telemetry/TelemetryManager.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

.
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

Fix exit code, telemetry result, and check hash prior to submitting updated package
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

cleanup
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Close
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Working!
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MultipleInstallerApp.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.ExeTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsiTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Adding better error for missing package
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

fix update command tests
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

clean submit command
  src/WingetCreateCLI/Commands/SubmitCommand.cs
Due: pipelines/azure-pipelines.yml

PR feedback
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Telemetry/Events/CommandExecutedEvent.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Updating notice, pipeline, and wingetcreate version
  NOTICE.txt
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
