Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src

add user-defined installer exceptions
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/InstallerExceptions.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/SchemaValidator.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments 1
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

refactor methods to be generic
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

refactor methods to be generic
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

Ignore NoVerbSelected commandline parsing error (#135)
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Add exceptions
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Exceptions.cs
  src/WingetCreateCore/Common/InstallerExceptions.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Resolve split error handling
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix error string for unit tests
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Exceptions.cs
  src/WingetCreateCore/Common/Exceptions/DownloadSizeExceededException.cs
  src/WingetCreateCore/Common/Exceptions/InstallerMatchException.cs
  src/WingetCreateCore/Common/Exceptions/ParsePackageException.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
Due: pipelines/azure-pipelines.yml

Clean up resource strings and deal with nullable type
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/DownloadSizeExceededException.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove platform
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
Due: pipelines/azure-pipelines.yml

Add Installer Exceptions for handling matching exceptions from core library (#138)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/DownloadSizeExceededException.cs
  src/WingetCreateCore/Common/Exceptions/InstallerMatchException.cs
  src/WingetCreateCore/Common/Exceptions/ParsePackageException.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/SchemaValidator.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add delay and retry to create reference step to avoid server error
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

add token permission info to readme
  README.md
  doc/images/tokenscope-publicrepo.png
Due: none

fix public repo image
  README.md
Due: none

address PR comments
  README.md
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Handle exception when creating a reference immediately after creating fork (#143)
  README.md
  doc/images/tokenscope-publicrepo.png
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

add vclib package dependency
  src/WingetCreatePackage/Package.appxmanifest
Due: pipelines/azure-pipelines.yml

add package dependency info to readme
  README.md
Due: none

update dependency info in README
  README.md
Due: none

Add VClibs dependency to package manifest (#144)
  README.md
  src/WingetCreatePackage/Package.appxmanifest
Due: pipelines/azure-pipelines.yml

Add Navigational Menu to Edit Optional Installer Fields (#133)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

initial commit of interactive update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

complete interactive update feature
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add interactive update for installer and adjust unit tests
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix unit tests
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

fix -? bug, parsing failure bug, and help text bug
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix format exception bug
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

Fix format exception bug (#156)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

fix -? bug, parsing failure bug, and help text bug (#154)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix format exception bug and add documentation
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments and add unit test
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/Manifests.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix help screen description
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add interactive update feature (#149)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/Manifests.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix installerurls prompt
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix help messages
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix installerurls prompt (#161)
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

do not load github client for cache and settings command
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

improve error message
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml
