Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

fix update submit explanation
  doc/update.md
Due: none

Upgrade RestSharp package
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

improve mismatch warning strings
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update docs with multiple url usage (#109)
  README.md
  doc/new.md
  doc/update.md
Due: none

Upgrade RestSharp package (#110)
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Create detectedArch class and fix bugs
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix test failures
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

fix msix bug
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

make record urlArch nullable
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

add unit tests
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MatchWithInstallerUrl.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MsixArchitectureMatch.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

fix msixbundle path
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MsixArchitectureMatch.yaml
Due: pipelines/azure-pipelines.yml

clean up unit tests
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

update notice txt
  NOTICE.txt
Due: none

Add Installer Url Matching for Update Command and Improve Error Messages (#108)
  NOTICE.txt
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MatchWithInstallerUrl.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MsixArchitectureMatch.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add configuration to settings file for repo owner and name
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateUnitTests/Resources/WingetCreateTestExeInstaller.exe
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove duplicate check if repo is not default
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

add teardown method to settings command
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

address pr comments
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateUnitTests/Resources/WingetCreateTestExeInstaller.exe
Due: pipelines/azure-pipelines.yml

Add settings configuration for specifying winget-pkgs repo owner/name (#112)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

change wingetpkgsrepo name to WindowsPackageManagerRepository
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update settings documentation
  doc/settings.md
Due: none

Rename WindowsPackageManagerRepository setting and Add Documentation (#113)
  doc/settings.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

display mismatched arch for successful updates
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

fix line spacing
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Display installers with mismatched detected arch for successful updates (#114)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

add caching command
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add unit tests for cache command
  README.md
  doc/cache.md
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

make consent not blocking
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove using statement
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

make github token property virtual
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

fix unit tests
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
Due: pipelines/azure-pipelines.yml

fix error display and modify messages for clean command
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove virtual property
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

revert base class
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
Due: pipelines/azure-pipelines.yml

Add cache command for managing downloaded installers (#119)
  README.md
  doc/cache.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Show warning message if version is outdated
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix variable name
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

fix spacing
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Removed en-US in links
  README.md
  SECURITY.md
  doc/submit.md
  doc/token.md
  doc/update.md
Due: none

Removed en-US in links (#123)
  README.md
  SECURITY.md
  doc/submit.md
  doc/token.md
  doc/update.md
Due: none

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
