Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src

Use 1ES.PublishPipelineArtifact@1 instead of templateContext outputs to publish msixbundle and check if this resolves the test failures in the pipeline.
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

upgrade wpm utils to 1.7.1
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

try dir for target path
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add retry policy for merge
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
Due: pipelines/azure-pipelines.yml

fix bundle output path
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

User/masudars/microsoft winget create azure pipelines migration to 1 es (#468)
  pipelines/azure-pipelines.yml
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
Due: pipelines/azure-pipelines.yml

i always forget adding comments
  doc/settings.md
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

make header consistent with winget-cli
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

expose padding field to the caller
  src/WingetCreateCLI/TableOutput.cs
Due: pipelines/azure-pipelines.yml

remove class attribute
  src/WingetCreateCLI/TableOutput.cs
Due: pipelines/azure-pipelines.yml

docs
  README.md
  doc/info.md
  doc/settings.md
Due: none

docs (1)
  doc/info.md
Due: none

address PR comments
  doc/info.md
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

variable name
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
Due: pipelines/azure-pipelines.yml

address comments
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
Due: pipelines/azure-pipelines.yml

Add info command to display key information (#461)
  README.md
  doc/info.md
  doc/settings.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/TableOutput.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

[winget-create] winget-create azure-pipelines.loc migration to 1ESPipeline
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

Fix steps section alignment issue
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

[winget-create] winget-create azure-pipelines.release migration to 1ESPipepline
  pipelines/azure-pipelines.release.yml
Due: none

Fix UpdateManifest job steps alignment
  pipelines/azure-pipelines.release.yml
Due: none

add resource strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

add resource strings (#474)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

User/masudars/microsoft winget create azure pipelines loc migration to 1 es (#471)
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

change publish path
  pipelines/azure-pipelines.release.yml
Due: none

User/masudars/microsoft winget create azure pipelines release migration to 1 es (#472)
  pipelines/azure-pipelines.release.yml
Due: none

delete security pipeline
  pipelines/azure-pipelines.sec.yml
Due: none

delete security pipeline (#476)
  pipelines/azure-pipelines.sec.yml
Due: none

add support for 1.6 schema
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

upgrade winget utils to 1.7.2
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Add support for 1.6 schema (#477)
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add support for creating and updating locales
  README.md
  doc/new-locale.md
  doc/update-locale.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Models/Partials/DefaultLocalePartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.LocaleConversionTest.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

moar changes
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Constants.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update NOTICES file to latest pipeline artifact
  NOTICE.txt
Due: none

modify resource strings
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Expand environment variables in input paths
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
Due: pipelines/azure-pipelines.yml

Improvements to replace argument
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

var name
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

doc
  doc/submit.md
  src/WingetCreateCLI/Commands/SubmitCommand.cs
Due: pipelines/azure-pipelines.yml

Expand environment variables in input paths (#484)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
Due: pipelines/azure-pipelines.yml
