Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

try again
  pipelines/azure-pipelines.release.yml
Due: none

Revert pipeline and include binary items in build
  pipelines/azure-pipelines.release.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

add interactive submit
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

specify source folder
  pipelines/azure-pipelines.release.yml
Due: none

fix /
  pipelines/azure-pipelines.release.yml
Due: none

update notice text and increment version
  NOTICE.txt
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

try without quotes
  pipelines/azure-pipelines.release.yml
Due: none

extract appx
  pipelines/azure-pipelines.release.yml
Due: none

test build
  pipelines/azure-pipelines.release.yml
Due: none

Prompt to submit in interactive update flow (#179)
  NOTICE.txt
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

fix csproj
  pipelines/azure-pipelines.release.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

remove line changes
  pipelines/azure-pipelines.release.yml
Due: none

Add C++ runtime framework binaries to self-contained exe (#181)
  pipelines/azure-pipelines.release.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Use Issue Forms
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Documentation_Issue.md
  .github/ISSUE_TEMPLATE/Documentation_Issue.yml
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Feature_Request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Period
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Use Issue Forms (#191)
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Documentation_Issue.md
  .github/ISSUE_TEMPLATE/Documentation_Issue.yml
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Feature_Request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

update nuget package for winget.utils
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

change to 0.3.4
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

update vmImage name
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Update WindowsPackageManager.Utils nuget package to 0.3.4 (#192)
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

increment version
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

increment version (#194)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

add 32-bit and 64-bit to parsing logic
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

add 32-bit and 64-bit to parsing logic (#200)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Handle taskcanceled exception with error message
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

if-else blocks
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

Handle taskcanceled exception with error message (#201)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

incrementVersion
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

incrementVersion (#204)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

initial commit for architecture override
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/InstallerMatchException.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.OverrideArchitecture.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add unit tests
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ArchitectureOverride.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MultipleArchitectureOverride.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

revise warning and return null on parsing error
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add additional unit tests that test error handling
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

add example for architecture override to update command
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments and add InstallerUpdateHelper object
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerUpdateHelper.cs
Due: pipelines/azure-pipelines.yml

Refactor with InstallerUpdateHelper class
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerUpdateHelper.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

resolve unit test failures
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

resolve PR comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

refactor out of larger if block and rename variables
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Add architecture override option to Update command (#206)
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/InstallerMatchException.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ArchitectureOverride.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MultipleArchitectureOverride.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
