Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src

Added unit test (thanks @ryfu-msft).
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
Due: pipelines/azure-pipelines.yml

Fixed suggestions from @ryfu-msft's code review.
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
Due: pipelines/azure-pipelines.yml

Missed one.
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
Due: pipelines/azure-pipelines.yml

Add custom YamlDotNet emitter that makes all fields with newlines use literal style. (#281)
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
Due: pipelines/azure-pipelines.yml

add intial commit
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

always prompt for packageId
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

sync for prior to creating reference
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

check if fork submission
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

add tests
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.Portable.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.PortableTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

remove unused using statements
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

always prompt for packageId (#288)
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Sync fork prior to creating reference and handle NotFoundException (#289)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix resx
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add support for creating and updating portable manifests (#290)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.Portable.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.PortableTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix null/empty filename string when downloading package file
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

handle null reference exception
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Fix null/empty filename string when downloading package file (#293)
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

update locale
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

add newly localized strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

add newly localized strings (#295)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

fix locale manifest update manifest version
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.locale.en-GB.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

upgrade target framework to net6.0
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

fix spacing
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

add self contained to release build
  README.md
  pipelines/azure-pipelines.release.yml
Due: none

fix locale manifest update manifest version (#303)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.locale.en-GB.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Update target framework to .NET6 (#304)
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Update URL to match current schema version
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Update URL to match current schema version (#308)
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

add initial support for zip
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullSingleton1_4.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

add unit tests
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.InvalidRelativeFilePath.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SameInstallerDiffArch.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipMultipleInstallers.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipWithExe.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipWithMsi.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipWithMsix.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipWithPortable.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add E2E tests
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.ZipTest.yaml
Due: pipelines/azure-pipelines.yml

clean up
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix tests in pipeline
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

fix tests
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.ZipTest.yaml
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

End files with single newline only
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

End files with single newline only (#315)
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

respond to PR feedback
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

resolve comments part 2
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix nested architecture check logic
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml
