Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

update comment
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Add UpdateCommand support for 1.1 Schema (#224)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
  src/WingetCreateCore/Models/Partials/SingletonPartials.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DeserializeAliasFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullSingleton1_1.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Add wix installer and tests
  src/WingetCreateCLI.sln
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateTests/WingetCreateTestWixInstaller/Product.wxs
  src/WingetCreateTests/WingetCreateTestWixInstaller/WingetCreateTestWixInstaller.wixproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.UpdateMsiWithWix.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateTestWixInstaller.msi
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

revert InstallerManifestModel
  src/WingetCreateCore/Models/InstallerManifestModels.cs
Due: pipelines/azure-pipelines.yml

Reset version specific fiels after update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ResetVersionSpecificFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

remove nuget task
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

update vsVersion
  src/WingetCreatePackage/WingetCreatePackage.wapproj
Due: pipelines/azure-pipelines.yml

update target platform version
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
Due: pipelines/azure-pipelines.yml

remove nuget command from release pipeline
  pipelines/azure-pipelines.release.yml
Due: none

Fix build pipeline for transition to VS2022 (#232)
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
Due: pipelines/azure-pipelines.yml

fix unit test
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

update target to 22000
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

update publish profiles to target 22000
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

update forked branch prior to submission
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Reset version specific fields after update (#231)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ResetVersionSpecificFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

create nonfastforwardexception
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCore/Common/Exceptions/NonFastForwardException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

add exception
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove unused local variable
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Apply fast-forward update to default branch of forked repo prior to submission (#235)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/NonFastForwardException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update to 1.0
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

update to 1.0 (#238)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Remove revision count from release pipeline
  pipelines/azure-pipelines.release.yml
Due: none

Remove -preview tag from GitHub release
  pipelines/azure-pipelines.release.yml
Due: none

update pipeline
  pipelines/azure-pipelines.release.yml
Due: none

fix versioning
  pipelines/azure-pipelines.release.yml
Due: none

changeversion to 1.0
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

update build pipeline
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

change version to 1.0
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

fix test path dll
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add version to appxBundleFilename
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Update version in release build and remove preview labels (#240)
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Minor fix in Resources.de-DE.resx
  Localization/Resources/de-DE/Resources.de-DE.resx
Due: none

Fix examples
  doc/cache.md
  doc/help.md
  doc/new.md
  doc/submit.md
  doc/token.md
  doc/update.md
Due: none

change wingetcreate to wingetcreate.exe
  doc/help.md
  doc/new.md
  doc/settings.md
  doc/submit.md
  doc/token.md
  doc/update.md
Due: none

More tweaks and fixes in Resources.de-DE.resx
  Localization/Resources/de-DE/Resources.de-DE.resx
Due: none

Minor fix in Resources.de-DE.resx (#244)
  Localization/Resources/de-DE/Resources.de-DE.resx
Due: none

Fix examples (#245)
  doc/cache.md
  doc/help.md
  doc/new.md
  doc/settings.md
  doc/submit.md
  doc/token.md
  doc/update.md
Due: none

Make command parsing case insensitive
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Place copyright into appropriate field
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

[ImgBot] Optimize images
  doc/images/create-defaults.png
  doc/images/create-new.png
  doc/images/create-packageidentifier.png
  doc/images/create-packagepdentifier.png
  doc/images/create-review.png
  doc/images/tokenscope-publicrepo.png
  src/WingetCreatePackage/Images/LockScreenLogo.scale-200.png
  src/WingetCreatePackage/Images/Square150x150Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/LockScreenLogo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/SplashScreen.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square150x150Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square44x44Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/StoreLogo.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Wide310x150Logo.scale-200.png
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
