Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

add show command in docs
  README.md
Due: none

Update NOTICE.txt to latest pipeline artifact
  NOTICE.txt
Due: none

Extend regex for determining arch from URL
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Recommend using overrides in error message
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update NOTICE.txt to latest pipeline artifact (#444)
  NOTICE.txt
Due: none

address PR feedback
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix singleton check + docs for show command (#441)
  README.md
  src/WingetCreateCLI/Commands/ShowCommand.cs
Due: pipelines/azure-pipelines.yml

Extend regex for determining arch from URL (#445)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Recommend using overrides in error message (#446)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR feedback
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix github manual merge
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Replace argument for removing a previous manifest (#440)
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Auto replace if vanity urls are used
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update NOTICE.txt
  NOTICE.txt
Due: none

comments
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Auto replace if vanity urls are used (#447)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update NOTICE.txt (#448)
  NOTICE.txt
Due: none

apply latest localization
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

apply latest localization (#450)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Check whether directory exists before clean up
  src/WingetCreateCLI/Common.cs
Due: pipelines/azure-pipelines.yml

Use WinGet 1.3 URL in unit test
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
Due: pipelines/azure-pipelines.yml

Fix pattern for getting same name files
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Use WinGet 1.3 URL in unit test (#454)
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
Due: pipelines/azure-pipelines.yml

Check whether directory exists before clean up (#452)
  src/WingetCreateCLI/Common.cs
Due: pipelines/azure-pipelines.yml

Fix pattern for getting same name files (#455)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Support localization for parser messages
  src/WingetCreateCLI/LocalizableSentenceBuilder.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Experimenting with making it easier to create configuration files using winget as a package manager
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

add comments
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

wording
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove extra lines
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Support localization for parser messages (#457)
  src/WingetCreateCLI/LocalizableSentenceBuilder.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add --info command to display key information
  doc/settings.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/RootOptions.cs
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/TableOutput.cs
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove unused imports
  src/WingetCreateCore/Common/Utils.cs
Due: pipelines/azure-pipelines.yml

Clean up from Ryan
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Throw parse exception first
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Throw parse exception first (#465)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

[winget-create] winget-create azure-pipeline migration to 1ESPipeline
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Fix for resources, extends keywords alignments
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

remove ps script
  src/WingetCreatePackage/generate_self_sign_cert.ps1
Due: pipelines/azure-pipelines.yml

remove ps script (#469)
  src/WingetCreatePackage/generate_self_sign_cert.ps1
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
