Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

add multifile test cases for unit test
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.installer.yaml
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.locale.en-US.yaml
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.yaml
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

change id for multifile test files
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.yaml
Due: pipelines/azure-pipelines.yml

remove extra manifests
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.installer.yaml
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.locale.en-US.yaml
  manifests/s/SpotifyLtd/Spotify/0.1.2.3/SpotifyLtd.Spotify.yaml
Due: none

fix hash check to work for singleton
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsiTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.ExeTest.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Adding negative tests for various unmatched states, and fixing unmatched state reporting
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MismatchedMsixInExistingBundle.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleMsixInExistingBundle.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add multifile test to E2Etest
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

change msix to multifile
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
Due: pipelines/azure-pipelines.yml

revert to commit ad30c286f72bfddee7560510c5d44da4ec65fed6
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.yaml
Due: pipelines/azure-pipelines.yml

revert to old setmockhttpresponsecontent
  src/WingetCreateCLI/Telemetry/Events/CommandExecutedEvent.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

copy always
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

modify hash method
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

comment out failing test
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Adding support for multiple URLs in new and update command (#102)
  NOTICE.txt
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Telemetry/Events/CommandExecutedEvent.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.MsixTest/Multifile.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MismatchedMsixInExistingBundle.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MultipleInstallerApp.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleMsixInExistingBundle.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.ExeTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsiTest.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix merge conflicts for update command tests
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.NoUpdate.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Handle bad credential exception and block update submissions with no changes (#100)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.NoUpdate.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Allow redirect urls and show warning for missing arguments
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

revert program.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

add unbound arguments check to update and submit command
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix comments
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

fix resource string comment
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

initialize unboundargs prop
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
Due: pipelines/azure-pipelines.yml

add basic optional fields
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

remove msixmanifest constant
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
Due: pipelines/azure-pipelines.yml

Handle redirect urls and unbounded positional arguments (#104)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/WingetCreateE2E.MsixTest.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add resource strings for optional fields
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add Tags to optional fields
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

filter out non json properties
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
Due: pipelines/azure-pipelines.yml

Add null to list
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
Due: pipelines/azure-pipelines.yml

Validate manifests in loop prior to confirmation
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add prompts for optional string fields (#106)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add url string matching for update command
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MatchWithInstallerUrl.yaml
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

remove comment for testutils
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
Due: pipelines/azure-pipelines.yml

fix unit test and update notice txt
  NOTICE.txt
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

update new and update docs with multiple url
  doc/new.md
  doc/update.md
Due: none

fix logic for update multiple url
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address pr comments
  README.md
  doc/new.md
  doc/update.md
Due: none

fix PR comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

make archmismatch field a private set property
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

fix test failures
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
