Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  jobs:
  - job: Localize
    pool:
      vmImage: windows-latest
    variables:
      skipComponentGovernanceDetection: true
    steps:
    - task: MicrosoftTDBuild.tdbuild-task.tdbuild-task.TouchdownBuildTask@1
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

Fix for interative update as well
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Add configuration file for WinGet-Create
  .configurations/configuration.dsc.yaml
  .vsconfig
  README.md
Due: none

address PR feedback
  .configurations/configuration.dsc.yaml
  .vsconfig
Due: none

address PR feedback
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Configuration file for WinGet-Create (#416)
  .configurations/configuration.dsc.yaml
  .vsconfig
  README.md
Due: none

Get new RelativeFilePaths if previous do not exist (#415)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Change LF line endings to CRLF in project files
  NOTICE.txt
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/Models/CustomValidation/DateTimeValidation.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateCore/Models/Partials/DefaultLocalePartials.cs
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateCore/Models/Partials/SingletonPartials.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

formatting fix from dotnet format command
  src/WingetCreateTests/WingetCreateTestExeInstaller/Program.cs
Due: pipelines/azure-pipelines.yml

Avoid creating installer node with duplicate NestedInstallerFile
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipMultipleInstallers.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Change LF line endings to CRLF in project files (#418)
  NOTICE.txt
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/FieldValidation.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/Models/CustomValidation/DateTimeValidation.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateCore/Models/Partials/DefaultLocalePartials.cs
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateCore/Models/Partials/SingletonPartials.cs
  src/WingetCreateTests/WingetCreateTestExeInstaller/Program.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Avoid creating installer node with duplicate NestedInstallerFile (#419)
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipMultipleInstallers.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

apply localized string patch
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

bump minor version to v1.5
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

bump minor version to v1.5 (#423)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

apply localized string patch (#422)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Add support for removing temporary files
  doc/settings.md
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

Prompt for RelativeFilePaths in interactive update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Null check for sequences comparison
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
Due: pipelines/azure-pipelines.yml

Bump YamlDotNet to 13.2.0
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Use NestedInstallerFiles for generating installer nodes in New Command
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

single quotes look relatively clean
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

Update src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

nit: formatting
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

docs say this should be called before
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

formatting fix
  doc/settings.md
Due: none

Bump YamlDotNet to 13.2.0 (#433)
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Null check for sequences comparison (#432)
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
Due: pipelines/azure-pipelines.yml

Show command for displaying manifest
  doc/show.md
  doc/update.md
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Use NestedInstallerFiles for generating installer nodes in New Command (#434)
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Shift fields back to installer level for re-run
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Shift fields back to installer level for re-run (#439)
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

address PR feedback
  doc/show.md
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Show command for displaying manifest (#436)
  doc/show.md
  doc/update.md
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Common/Serialization.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address PR feedback
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

description
  src/WingetCreateCLI/Common.cs
Due: pipelines/azure-pipelines.yml

address PR feedback
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add support for removing temporary files (#427)
  doc/settings.md
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

Prompt for RelativeFilePaths in interactive update (#431)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Replace argument for removing a previous manifest
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix singleton check
  src/WingetCreateCLI/Commands/ShowCommand.cs
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
