Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src

ensure only pulling down .yaml files from github
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

refactor setandchecktoken method
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add resource string
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

make string comparison case insensitive
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Ensure retrieved files from github can only be ".yaml" (#126)
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

refactor using LoadGitHubClient method
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix unit test and use EqualsIC
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Sort out optional installer fields
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

add additional info to messages
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

clarify comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Adding Binskim
  azure-pipelines.yml
  pipelines/azure-pipelines.sec.yml
Due: none

Main branch trigger
  pipelines/azure-pipelines.sec.yml
Due: none

testing out prompting for each optional field
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

remove token storing
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

Set up Azure Pipeline to run security checks on commits to main branch (#128)
  pipelines/azure-pipelines.sec.yml
Due: none

set client to use token from oauth
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Refactor SetAndCheckGitHubToken method and handle rate limit throttling (#125)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

catch ratelimitexceeded error if no token is provided
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

continue working on prompt each field type
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

make loadgithubclient public
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

revert githubclient to be protected
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

fix tests
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

handle command null error
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Notify users of latest release version (#121)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

basic skeleton of optional installer prompts
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

additional work
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

set telemetry disable to false
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

add filtering for msi and msix
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

Refactor prompt method and fix bugs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

refactor and add scope/locale matching
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix dependency bug
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix bug where installerURLs could be null
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

reword anonymous message and change enclosing command character
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Modify telemetry first run experience to be non-blocking (#117)
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add resource file to library and refactor installermismatch error handling
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/SchemaValidator.cs
  src/WingetCreateCore/Properties/Resources.Designer.cs
  src/WingetCreateCore/Properties/Resources.resx
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Ignore noverbselected parsing errors
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

use fenced code block, enable copy button github
  README.md
Due: none

use fenced code block, enable copy button github (#137)
  README.md
Due: none

changed to notparsed
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml
