Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src

Place copyright into appropriate field (#258)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

change to copyright
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

change to copyright (#259)
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

Make command parsing case insensitive (#256)
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Return false for github submit exceptions
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

[ImgBot] Optimize images (#260)
  doc/images/create-defaults.png
  doc/images/create-new.png
  doc/images/create-packageidentifier.png
  doc/images/create-packagepdentifier.png
  doc/images/create-review.png
  doc/images/tokenscope-publicrepo.png
  src/WingetCreatePackage/Images/LockScreenLogo.scale-200.png
  src/WingetCreatePackage/Images/Square150x150Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/LockScreenLogo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/SplashScreen.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square150x150Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square44x44Logo.scale-200.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/StoreLogo.png
  src/WingetCreateTests/WingetCreateTestMsixInstaller/Images/Wide310x150Logo.scale-200.png
Due: pipelines/azure-pipelines.yml

Return false for github submit exceptions (#261)
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

Increment filename when already existing
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Simplify to be count of files
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Move numeric filename to function
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Reset Stream Position when Seekable
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

add test comment
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Fix - Allow filename to remain unchanged when no similar files exist
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

SameFilename2 (#262)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

test app execution alias
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

fix alignment
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

fix pipeline
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add framework dependency
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

hardcode parameters
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

revert changes and update release pipeline/docs
  README.md
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add link to msixbundle
  README.md
Due: none

add .net 5.0
  README.md
Due: none

Use AppExecutionAlias in release pipeline (#265)
  README.md
  pipelines/azure-pipelines.release.yml
Due: none

update localization files
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

update localization files (#266)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

add SBOM task to build pipelines
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

fix path
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add generation task to release pipeline
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

update task name
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Add SBOM task to build pipelines (#267)
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

add support for 1_2 schema
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update nuget package
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add unit test
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullSingleton1_2.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Add support for 1.2 Schema (#270)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullSingleton1_2.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update localized strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

update localized strings (#275)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

increment version to 1.1
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

increment version to 1.1 (#276)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Add custom YamlDotNet emitter that makes all fields with newlines use literals.
  src/WingetCreateCore/Common/Serialization.cs
Due: pipelines/azure-pipelines.yml

update new command prompts to handle portables
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml
